<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bwfsurveybeta">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="com.bwfsurvey.bwfsurveybeta.BwfSurveyAmplifyApplication"
        tools:replace="android:name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BwfSurveyBeta">

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.AuthenticationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.MenuActivity"
            android:label="Menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.InitialSurveyActivity"
            android:label="Initial Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.HouseholdCardSelectActivity"
            android:label="Select household"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.FollowUpSurveyActivity"
            android:label="FollowUp Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.HealthCheckSurveyActivity"
            android:label="Health Check Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.SWEMonthlySummaryActivity"
            android:label="SWE Monthly Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.HouseholdWaterSurveyActivity"
            android:label="Household Water Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.CommunityCardSelectActivity"
            android:label="Select community"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.SchoolCardSelectActivity"
            android:label="Select school"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.ClinicCardSelectActivity"
            android:label="Select clinic"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.CommunityWaterSurveyActivity"
            android:label="Community Water Test"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewInitialSurveyActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.update.UpdateInitialSurveyActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.VolunteerHouseholdCardSelectActivity"
            android:label="Select or create new household"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.VolunteerHouseholdWaterSurveyActivity"
            android:label="Volunteer household"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.CommunityWaterCardSelectActivity"
            android:label="Select or create new community water source"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.FollowUpSurveyCardSelectActivity"
            android:label="Select follow up survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.update.UpdateFollowUpSurveyActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.CommunityWaterTestCardSelectActivity"
            android:label="Select Community Water Test"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.update.UpdateCommunityWaterTestActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.HouseholdWaterTestCardSelectActivity"
            android:label="Select Household Water Test"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.update.UpdateHouseholdWaterTestActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.VolunteerCardSelectActivity"
            android:label="Select Volunteer"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.SubMenuMonthlySummaryActivity"
            android:label="Select Sub Menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.VolunteerMonthlySummaryActivity"
            android:label="Volunteer Monthly Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewFollowUpSurveyActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewCommunityWaterTestActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewHouseholdWaterTestActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.VolunteerHouseholdWaterTestCardSelectActivity"
            android:label="Select Volunteer household"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewVolunteerHouseholdWaterTestActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.HealthCheckSurveyCardSelectActivity"
            android:label="Select health check survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewHealthCheckSurveyActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewSubMenuMonthlySummaryActivity"
            android:label="Choose sub menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.SWEMonthlySummaryCardSelectActivity"
            android:label="Select Monthly Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewSWEMonthlySummaryActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.VolunteerMonthlySummaryCardSelectActivity"
            android:label="Select Monthly Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewVolunteerMonthlySummaryActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.update.UpdateVolunteerHouseholdWaterTestActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.update.UpdateHealthCheckSurveyActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.update.UpdateSubMenuMonthlySummaryActivity"
            android:label="Select Sub Menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.update.UpdateSWEMonthlySummaryActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.update.UpdateVolunteerMonthlySummaryActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.MeetingCardSelectActivity"
            android:label="Select meeting"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.HouseholdAttendingMeetingCardSelectActivity"
            android:label="Households that attended meeting"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.SWEMonthlyTotalSummaryActivity"
            android:label="SWE Monthly Total Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.SWEMonthlyTotalSummaryCardSelectActivity"
            android:label="Select monthly total"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewSWEMonthlyTotalSummaryActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.VolunteerMonthlyTotalSummaryActivity"
            android:label="Volunteer Monthly Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.VolunteerMonthlyTotalSummaryCardSelectActivity"
            android:label="Volunteer Monthly Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.SWEMonthlySchoolSummaryActivity"
            android:label="School Activity Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.collect.SWEMonthlyClinicSummaryActivity"
            android:label="Clinic Activity Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.SWEMonthlySchoolSummaryCardSelectActivity"
            android:label="Monthly School Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.select.SWEMonthlyClinicSummaryCardSelectActivity"
            android:label="Monthly Clinic Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewSWEMonthlySchoolSummaryActivity"
            android:label="Monthly School Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.view.ViewSWEMonthlyClinicSummaryActivity"
            android:label="Monthly Clinic Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>