<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bwfsurveybeta">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="com.bwfsurvey.bwfsurveybeta.MyAmplifyApplication"
        tools:replace="android:name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BwfSurveyBeta">

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.AuthenticationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.MenuActivity"
            android:label="Menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.InitialSurveyActivity"
            android:label="Initial Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.HouseholdCardSelectActivity"
            android:label="Select household"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.FollowUpSurveyActivity"
            android:label="FollowUp Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.HealthCheckSurveyActivity"
            android:label="Health Check Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.SWEMonthlySummaryActivity"
            android:label="SWE Monthly Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.HouseholdWaterSurveyActivity"
            android:label="Household Water Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.CommunityCardSelectActivity"
            android:label="Select community"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.CommunityWaterSurveyActivity"
            android:label="Community Water Test"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.ViewInitialSurveyActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.UpdateInitialSurveyActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.VolHouseholdCardSelectActivity"
            android:label="Select or create new household"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.VolHouseholdWaterSurveyActivity"
            android:label="Volunteer household"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.CommunityWaterCardSelectActivity"
            android:label="Select or create new community water source"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.UpdateFollowUpSurveyCardSelectActivity"
            android:label="Select suspended follow up survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.UpdateFollowUpSurveyActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.UpdateCommunityWaterCardSelectActivity"
            android:label="Select suspended Community Water Test"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.UpdateCommunityWaterTestActivity"
            android:label="Update Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.activities.UpdateHouseholdWaterCardSelectActivity"
            android:label="Select suspended Household Water Test"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>