<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bwfsurveybeta">

    <application
        android:name="com.bwfsurvey.bwfsurveybeta.MyAmplifyApplication"
        tools:replace="android:name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BwfSurveyBeta">

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.AuthenticationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.MenuActivity"
            android:label="Menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.InitialSurveyActivity"
            android:label="Initial Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.FamilyCardSelectActivity"
            android:label="Select household"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.FollowUpSurveyActivity"
            android:label="FollowUp Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.HealthCheckSurveyActivity"
            android:label="Health Check Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.SWEMonthlySummaryActivity"
            android:label="SWE Monthly Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.HouseholdWaterSurveyActivity"
            android:label="Household Water Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.CommunityCardSelectActivity"
            android:label="Select community"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.CommunityWaterSurveyActivity"
            android:label="Community Water Test"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.ViewInitialSurveySelectActivity"
            android:label="List of saved Initial Survey"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bwfsurvey.bwfsurveybeta.ViewInitialSurveyActivity"
            android:label="View Details"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>